<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    
    <link rel="icon" href="/img/logobcn.ico">
    <title>BCN Trees | {{ "Àrbres de Barcelona" | gettext }}</title>
    </head>

    <body>
    <!-- Navbar -->
     <div>
    <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
    <div class="container-fluid">
    </div>
      <a class="navbar-brand" href="/">
      <img src="/img/bcnlogo.png" alt="escut de la ciutat de Barcelona" width="" height="24" class="d-inline-block align-text-top">
        BCN Trees
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disable" aria-current="page" href="#">{{ "Inici" | gettext }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Usuari" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">{{ "Inicia Sessió" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{{ "Registrar-se" | gettext }}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Idioma" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="?lang=ca">{{ "Català" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="?lang=es">{{ "Castellà" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="?lang=en">{{ "Anglès" | gettext }}</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/barcelona">Barcelona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/news">{{ "Notícies" | gettext }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "Àrbres" | gettext }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">{{ "Àrbres" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Fulla caduca" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Fulla perenne" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{{ "Costa" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Interior" | gettext }}</a></li>
              <li><a class="dropdown-item" href="#">{{ "Muntanya" | gettext }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{{ "Tots" | gettext }}</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="{{ "Buscar" | gettext }}" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">{{ "Buscar" | gettext }}</button>
        </form>
        </div>
  </div>
</nav>
</div">

  <!-- Content -->
    <!-- Imatge superior -->
    <div class="image-container">
      <img src="../img/bgnews.png" class="img-fluid w-100" alt="barcelona ciutat">
    </div">

    <!-- Titles -->
    <div class="container mt-5 mb-5">
      <h1 class="text-black fw-bold">Els taronjers, un problema pels carrers de la ciutat</h1>
    </div">

    <br>

    <!-- Content -->
    <div class="content">
        <p>
        Amagat entre els turons de Barcelona, el Laberint d’Horta és un dels parcs més emblemàtics i singulars de la ciutat. Situat al districte d’Horta-Guinardó, aquest jardí històric combina natura, art i arquitectura en un entorn idíl·lic que transporta els visitants a una altra època.
Un viatge al passat

El parc va ser dissenyat al segle XVIII per l’arquitecte italià Domenico Bagutti a petició de la família Desvalls. Inicialment concebut com un jardí neoclàssic, va ser ampliat al segle XIX amb elements del romanticisme, incloent-hi boscos, miradors i estanys que avui en dia formen part del seu encant únic.

El seu principal atractiu és el laberint de xiprers, un recorregut ple de girs i racons misteriosos que convida a perdre’s entre els seus camins fins a trobar l’estàtua d’Eros, el déu de l’amor, situada al centre del laberint.
Un refugi verd dins la ciutat

Amb més de 9 hectàrees de superfície, el Laberint d’Horta ofereix un espai de calma i desconnexió per als visitants. Passejant pels seus camins, es poden admirar temples d’inspiració grega, escultures clàssiques i fonts envoltades de vegetació exuberant.

Aquest pulmó verd és també un refugi per a la biodiversitat, on es poden trobar espècies com el plataner, el cedre i el llorer, així com una gran varietat d’ocells que habiten els seus jardins.
Conservació i futur del parc

L'Ajuntament de Barcelona ha impulsat en els darrers anys diverses iniciatives per preservar aquest espai històric. La restauració de les escultures, la millora dels camins i el control de l’afluència de visitants són algunes de les mesures que s’han adoptat per garantir la seva conservació sense alterar la seva essència.

El Laberint d’Horta és, sens dubte, un dels tresors amagats de Barcelona. Un lloc on història i natura es donen la mà per oferir una experiència única a aquells que busquen escapar del bullici de la ciutat.

🌿 L’has visitat alguna vegada?</p>

        <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

  
  <!-- Footer -->
  <footer class="bg-light py-4 mt-5">
    <div>
        <!-- Sección superior: Patrocinis i Xarxes Socials -->
        <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <a href="https://web.gencat.cat/ca/inici" class="mx-3">
                    <img src="/../img/logogencat.png" alt="gencat" class="sponsor-logo sponsor-logo img-fluid">
                </a>
                <a href="https://www.diba.cat/es/" class="mx-3">
                    <img src="/../img/logodb.png" alt="diputaciobarcelona" class="sponsor-logo sponsor-logo2 sponsor-logo img-fluid">
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <a href="https://facebook.com" class="mx-2 text-dark"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com" class="mx-2 text-dark"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://instagram.com" class="mx-2 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
        <br>

        <!-- Sección inferior: Derechos reservados -->
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 BCN Trees. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
  </footer>
</html>

